<!DOCTYPE html>
<html>
  <head>
    <title>e-commerce-- Backend</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Karla&display=swap" rel="stylesheet">
  </head>

  <body class= "hold-transition sidebar-mini layout-fixed layout-navbar-fixed layout-footer-fixed" style="height: auto;" >
    <%=render 'layouts/backend/base_format'%>
    
  </body>
</html>



